@model GestionInventarioWeb.Models.Usuario

@{
    ViewData["Title"] = "Create";
    
}

<div class="container-fluid">

<h1>Crear Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
            @using (Html.BeginForm("CreateNew", "Usuarios", FormMethod.Post))
            {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                    <label class="input-group-text">Nombre</label>
                <input name="name" class="form-control"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
                <div class="input-group">
                    <label class="input-group-text">Telefono</label>
                <input name="phone" class="form-control"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
                <div class="input-group">
                    <label class="input-group-text">RUT</label>
                <input name="username" class="form-control" id="username"/>
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
                <div class="input-group">
                    <label class="input-group-text">Contraseña</label>
                <input name="password" class="form-control"/>
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label class="input-group-text">Rol</label>
                <select name="rolid" class="form-select">
                    <option value="1">Administrador</option>
                    <option value="2">Vendedor</option>
                </select>
            </div>
            <div class="hstack gap-1">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger btn-padding">Cancelar</a>
            </div>
        }
    </div>
</div>
    <script type="module">
        document.querySelector("#username").addEventListener("input", function (e) {
            let text = this.value.replace(/(\s|\W)/g, "")
            let exp = /(\d{0,3})(\d{0,3})(\d{1,3})(\w{1})\b/
            this.value = text.replace(exp, "$1$2$3-$4")
        })
    </script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>
@if(Context.Session.GetString("message") != null)
{
    <div class="alert alert-warning">@Context.Session.GetString("message")</div>
}
