@model GestionInventarioWeb.Models.Usuario
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topbar hstack gap-2">
    <h2>Modificando Usuario</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <form asp-action="SaveUser" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" name="id" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Nombre" class="input-group-text">NOMBRE</label>
                    <input asp-for="Nombre" class="form-control" id="name" />
                </div>
                <span asp-validation-for="Telefono" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Telefono" class="input-group-text">TELEFONO</label>
                    <input asp-for="Telefono" class="form-control" id="phone" />
                </div>
                <span asp-validation-for="Rut" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Rut" class="input-group-text">RUT</label>
                    <input asp-for="Rut" class="form-control" id="username" />
                </div>
                <span asp-validation-for="Clave" class="text-danger"></span>
                <!--<div class="input-group">
                    <label asp-for="Clave" class="input-group-text">CONTRASEÑA</label>
                    <input asp-for="Clave" class="form-control" type="hidden" id="pwd" disabl />
                </div>-->
                <span asp-validation-for="IdRol" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="IdRol" class="input-group-text">ROL</label>
                    <select asp-for="IdRol" class="form-select" asp-items="ViewBag.IdRol"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script defer>
    document.body.onload = function (e) {
        let pwd = document.querySelector("#pwd")
        pwd.type = "password"
    }

    document.querySelector("#name").addEventListener("input", function (e) {
        let text = this.value.replace(/(\d)/g, "").replace(/(\s{2,}|\W{2,})/g, " ")
        this.value = text
    })

    document.querySelector("#phone").addEventListener("input", function (e) {
        let text = this.value.replace(/(\s|\W|\D)/g, "")
        this.value = text
    })

    document.querySelector("#username").addEventListener("input", function (e) {
        let text = this.value.replace(/(\s|\W)/g, "")
        let exp = /(\d{0,3})(\d{0,3})(\d{1,3})(\w{1})\b/
        this.value = text.replace(exp, "$1$2$3-$4")
    })
</script>
