@model GestionInventarioWeb.Models.Producto

@{
    ViewData["Title"] = "Create";
    string? error = Context.Session.GetString("error");
    var message = Context.Session.GetString("message");
}

<div class="container-fluid">

    <h1>Crear Producto</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("CreateNew", "Productos", FormMethod.Post))
            {
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="input-group">
                    <label class="input-group-text">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <div class="input-group">
                    <label class="input-group-text">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <span asp-validation-for="Precio" class="text-danger"></span>
                <div class="input-group">
                    <label class="input-group-text">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                </div>
                <div class="input-group">
                    <label class="input-group-text">Stock</label>
                    <input type="number" name="stock" min="1" value="1" class="form-control" />
                </div>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
                <div class="input-group">
                    <label class="input-group-text">Categoria</label>
                    <select asp-for="IdCategoria" class="form-select" asp-items="ViewBag.IdCategoria"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger btn-padding">Cancelar</a>
                </div>
            }
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>

@if (!String.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}

@if (!String.IsNullOrEmpty(message))
{
    <div class="alert alert-success">@message</div>
}
