@model GestionInventarioWeb.Models.Producto

@{
    ViewData["Title"] = "Editando Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="hstack gap-2">
        <h4>Modificando Producto</h4>
        <a class="btn btn-dark" asp-action="Index">Volver a Productos</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="SaveProduct" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" name="id" id="pid" />
                <span asp-validation-for="Ean" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Ean" class="input-group-text" readonly>Codigo EAN</label>
                    <input asp-for="Ean" class="form-control" readonly />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Nombre" class="input-group-text">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Descripcion" class="input-group-text"> Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <span asp-validation-for="Precio" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Precio" class="input-group-text">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                </div>
                <div class="input-group">
                    <label class="input-group-text">Stock</label>
                    <input type="number" name="stock" min="1" id="pstock" class="form-control" />
                </div>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="IdCategoria" class="input-group-text">Categoria</label>
                    <select asp-for="IdCategoria" class="form-select" asp-items="ViewBag.IdCategoria"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let stock = document.querySelector("#pstock")
    let pid = document.querySelector("#pid")
   
    fetch("/Inventario/" + pid.value)
        .then(response => response.json())
        .then(response => {
            console.log(response)
            stock.value = response.stock
        }).catch(error => console.log(error))

</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
