@model GestionInventarioWeb.Models.Producto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = Context.Session.GetString("message");
}

<div class="container-fluid">
    <div class="hstack gap-2">
        <h4> Modificando Producto </h4>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="SaveProduct" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" name="id"/>
                <span asp-validation-for="Ean" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Ean" class="control-label">Codigo EAN</label>
                    <input asp-for="Ean" class="form-control" />
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Nombre" class="input-group-text">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Descripcion" class="input-group-text"> Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <span asp-validation-for="Precio" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Precio" class="input-group-text">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                </div>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="IdCategoria" class="input-group-text">Categoria</label>
                    <select asp-for="IdCategoria" class="form-select" asp-items="ViewBag.IdCategoria"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model.IdCategoria" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>



    @if (!String.IsNullOrEmpty(message))
    {
        <div class="alert alert-success">@Context.Session.GetString("message")</div>
    }

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>