<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionInventarioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionInventarioWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main">
        <!--
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GestionInventarioWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->
        <nav class="nav">
            <div>
                <img src="https://dummyimage.com/80x80/ffffff/000000.png" alt="Usuario" class="usr-img">
                <h2 class="usr-name">Usuario</h2>
                <ul class="nav-links">
                    <li><a href="#"><i class="bi bi-cash"></i>Ventas</a></li>
                    <li><a href="#"><i class="bi bi-box-seam-fill"></i>Productos</a></li>
                    <li><a href="#"><i class="bi bi-people-fill"></i>Clientes</a></li>
                </ul>
            </div>
            <ul class="nav-bottom">
                <li><a href="#"><i class="bi bi-gear-fill"></i>Configuracion</a></li>
                <li><a href="/Logout"><i class="bi bi-box-arrow-right"></i>Cerrar Sesion</a></li>
            </ul>
        </nav>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GestionInventarioWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
