@model GestionInventarioWeb.Models.Compra

@{
    ViewData["Title"] = "Crear Compra";
}

<div class="hstack gap-2">
    <h2>Creando Compra</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="Fecha" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Fecha" class="input-group-text">Fecha</label>
                    <input asp-for="Fecha" id="fecha" type="date" class="form-control" />
                </div>
                <div class="input-group">
                    <label asp-for="IdUsuario" class="input-group-text">Comprador</label>
                    <select asp-for="IdUsuario" class ="form-select" asp-items="ViewBag.IdUsuario"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script defer>
    let date = new Date().toLocaleDateString().split("-").reverse().join("-")
    document.querySelector("#fecha").value = date
</script>


