@model IEnumerable<GestionInventarioWeb.Models.Compra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hstack gap-2">
    <h2>Ordenes de Compra</h2>
    <a class="btn btn-success" asp-action="Create">Nueva Compra</a>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Generada por
                </th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.Fecha.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
                </td>
                <td>$0</td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>