@model GestionInventarioWeb.Models.Venta

@{
    ViewData["Title"] = "Creando venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hstack gap-2">
    <h1>Crear Venta</h1>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreateSaleConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="Fecha" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Fecha" class="input-group-text">Fecha</label>
                    <input type="date" asp-for="Fecha" id="fecha" class="form-control" />
                </div>
                <span asp-validation-for="IdVendedor" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="IdVendedor" class="input-group-text">Vendedor</label>
                    <select asp-for="IdVendedor" class="form-select" asp-items="ViewBag.IdVendedor"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Siguiente" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
<script>
    function getDate() {
        var date = new Date()
        var dd = date.getDate()
        var mm = date.getMonth() + 1
        var yyyy = date.getFullYear()
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        var fecha = yyyy + '-' + mm + '-' + dd;
        return fecha
    }
    //document.querySelector("#fecha").value = getDate()
    let date = new Date().toLocaleDateString().split("-").reverse().join("-")
    document.querySelector("#fecha").value = date
</script>
</div>

