@model GestionInventarioWeb.Models.Venta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var error = Context.Session.GetString("error");
}

<div class="container-fluid">
    <div class="hstack gap-2">
        <h2>Editando Venta</h2>
        <a class="btn btn-danger visually-hidden" asp-action="Details" asp-route-id="@Model.Id">Cancelar</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EdittingSale" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" id="idSale"/>
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="Fecha" class="input-group-text">Fecha</label>
                    <input type="date" asp-for="Fecha" class="form-control"/>
                </div>
                    <span asp-validation-for="IdVendedor" class="text-danger"></span>
                <div class="input-group">
                    <label asp-for="IdVendedor" class="input-group-text">Vendedor</label>
                    <select asp-for="IdVendedor" class="form-select" asp-items="ViewBag.IdVendedor"></select>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.Id">Cancelar</a>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h4>Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Codigo EAN</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>SubTotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tblSale">
                    
                </tbody>
            </table>
            <div class="hstack gap-2 justify-content-end">
                <h2>Total Venta:</h2>
                <h1 id="totalVenta">$0</h1>
            </div>
            <form name="productSaleForm" asp-action="SalePopProduct" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="pid" />
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>

<script defer>
    function dropProduct(pid) {
        document.forms.productSaleForm.pid.value = parseInt(pid)
        document.forms.productSaleForm.submit()
    }
    var tblSale = document.querySelector("#tblSale")
    let idSale = document.querySelector("#idSale").value
    var totalVenta = document.querySelector("#totalVenta")
    fetch("/api/Productos/Venta/"+idSale)
        .then(response => response.json())
        .then(response => {
            console.log(response)
            if (response.length <= 0) {
                let tr = document.createElement("tr")
                let td = document.createElement("td")
                td.colSpan = 9
                let div = document.createElement("div")
                div.classList.add("alert")
                div.classList.add("alert-info")
                div.innerHTML = "No hay productos!"
                td.appendChild(div)
                tr.appendChild(td)
                tblSale.appendChild(tr)
            }
            let suma = 0
            for (let p of response) {
                let tr = document.createElement("tr")
                let id = document.createElement("td")
                id.innerHTML = p.id
                tr.appendChild(id)
                let ean = document.createElement("td")
                ean.textContent = p.ean
                tr.appendChild(ean)
                let name = document.createElement("td")
                name.textContent = p.name
                tr.appendChild(name)
                let cat = document.createElement("td")
                cat.textContent = p.category
                tr.appendChild(cat)
                let price = document.createElement("td")
                price.textContent = "$" + p.price
                tr.appendChild(price)
                let stock = document.createElement("td")
                stock.textContent = p.cantidad
                tr.appendChild(stock)
                let desc = document.createElement("td")
                desc.textContent = p.description
                tr.appendChild(desc)

                let sub = document.createElement("td")
                let total = parseInt(p.cantidad) * parseInt(p.price)
                suma += total
                sub.textContent = "$" + total
                tr.appendChild(sub)

                let td = document.createElement("td")
                let btn = document.createElement("input")
                btn.type = "button"
                btn.value = "Quitar"
                btn.classList.add("btn")
                btn.classList.add("btn-danger")
                btn.onclick = e => {
                    dropProduct(p.id)
                }
                td.appendChild(btn)
                tr.appendChild(td)

                tblSale.appendChild(tr)
                totalVenta.innerHTML = "$"+suma
            }
        }).catch(error => console.log(error))
</script>

@if (!String.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}

<div class="container-fluid">
    <h2>Productos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Codigo EAN</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody id="tblBody">
            
        </tbody>
    </table>
    <form name="productForm" asp-action="SaleAddProduct" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="pid"/>
        <input type="hidden" name="cantidad" />
    </form>
</div>

<script defer>
    function select(id, cantidad) {
        let pid = parseInt(id)
        document.forms.productForm.pid.value = pid;
        document.forms.productForm.cantidad.value = parseInt(cantidad)
        document.forms.productForm.submit();
    }

    var tblBody = document.querySelector("#tblBody")
    
    fetch("/api/Productos")
        .then(response => response.json())
        .then(response => {
            console.log(response)
            if (response.length <= 0) {
                let tr = document.createElement("tr")
                let td = document.createElement("td")
                td.colSpan = 9
                let div = document.createElement("div")
                div.classList.add("alert")
                div.classList.add("alert-info")
                div.innerHTML = "No hay productos!"
                td.appendChild(div)
                tr.appendChild(td)
                tblBody.appendChild(tr)
            }
            for (let p of response) {
                let tr = document.createElement("tr")
                let id = document.createElement("td")
                id.innerHTML = p.id
                tr.appendChild(id)
                let ean = document.createElement("td")
                ean.textContent = p.ean
                tr.appendChild(ean)
                let name = document.createElement("td")
                name.textContent = p.name
                tr.appendChild(name)
                let cat = document.createElement("td")
                cat.textContent = p.category
                tr.appendChild(cat)
                let price = document.createElement("td")
                price.textContent = p.price
                tr.appendChild(price)
                let stock = document.createElement("td")
                stock.textContent = p.stock
                tr.appendChild(stock)
                let desc = document.createElement("td")
                desc.textContent = p.description
                tr.appendChild(desc)

                let numbers = document.createElement("td")
                let input = document.createElement("input")
                input.type = "number"
                input.value = 1
                input.min = 0
                input.id = "value-for-"+p.id
                numbers.appendChild(input)
                tr.appendChild(numbers)

                let td = document.createElement("td")
                let btn = document.createElement("input")
                btn.type = "button"
                btn.classList.add("btn")
                btn.classList.add("btn-success")
                btn.value = "Agregar"
                btn.setAttribute("product-id", p.id)
                btn.onclick = function() {
                    let numbers = document.querySelector("#value-for-"+p.id)
                    select(p.id, parseInt(numbers.value))
                }
                //btn.href = "/Ventas/Details/AddProduct/" + p.id
                td.appendChild(btn)
                tr.appendChild(td)

                tblBody.appendChild(tr)

            }
        })
        .catch(error => {
            console.log(error)
        })
  
</script>