@model IEnumerable<GestionInventarioWeb.Data.Sale>

@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hstack gap-2">
    <h1>Ventas</h1>
    <a asp-action="CreateSale" class="btn btn-success">Nueva Venta</a>
</div>

<div class="container-fluid">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Vendedor
                </th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>
                <td id="item-for-@item.Id"></td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<script defer>
    fetch("/api/Ventas")
    .then(r => r.json())
    .then(r => {
        for(let sale of r){
            let item = document.querySelector("#item-for-"+sale.id)
            item.innerHTML = "$"+sale.cost
        }
    }).catch(error => console.log(error))
</script>